@using IProject.Models;
@*@model IEnumerable<IProject.Models.FileModel>;*@
@model Tuple<List<FileModel>,List<PhotoCovers>>
@{
    ViewData["Title"] = "PageUser";
}



<body style="background-color:black">
    <form asp-action="PhotoCovers" asp-controller="Account" method="post" enctype="multipart/form-data">
        @if (Model.Item2.Count() != 0)
        {
            <p><img style="" src="@Url.Content(Model.Item2.Last().Path)" height="600" width="1296"></p>
        }
        else
        {
            <p><img src="" height="600" width="1296"></p>
        }
        <input style="color:white;border-radius:10px" type="file" name="uploadedFile" /><br>
        <input style="background-color:blue; color:white;border-radius:10px" type="submit" value="upload Avatar"/>
    </form>
    <h3>Choose photo to upload</h3>
    <form asp-action="PageUser" asp-controller="Account" method="post" enctype="multipart/form-data">
        @if (Model.Item1.Count() != 0)
        {
            <p><img style="border-radius:50%" src="@Url.Content(Model.Item1.Last().Path)" height="200" width="200"></p>
        }
        else
        {
            <p><img src="" height="200" width="200"></p>
        }
        <input style="color:white;border-radius:10px" type="file" name="uploadedFile" /><br>
        <input style="background-color:blue; color:white;border-radius:10px" type="submit" value="upload Avatar" />
    </form>
</body>
<footer style="background-color:black" class="border-top footer text-muted">
    <div class="nav-scroller bg-white box-shadow">
        <nav style="background-color:black" class="nav nav-underline">
            <a class="nav-link active" href="#">Publication</a>
            <a class="nav-link" href="#">
                Friends
                <span class="badge badge-pill bg-light align-text-bottom">27</span>
            </a>
            <a class="nav-link" style="color:blue" href="#">Information</a>
            <a class="nav-link" style="color:blue" asp-action="ShowAllPhoto" asp-controller="Account">Photo</a>
            <a class="nav-link" style="color:blue" href="#">Video</a>
            <a class="nav-link" style="color:blue" asp-action="PhotoCovers" asp-controller="Account">PhotoCovers</a>
            <a class="nav-link" style="color:blue" href="#">Link</a>
            <a class="nav-link" style="color:blue" href="#">Link</a>
            <a class="nav-link" style="color:blue" href="#">Link</a>
        </nav>
    </div>
</footer>


