@using IProject.Models;
@using Microsoft.AspNetCore.Identity
@inject UserManager<User> _userManager
@model Tuple<List<FileModel>,List<PhotoCovers>,List<User>>
@{
    ViewData["Title"] = "PageUser";
}

<style>
    .newcontainer {
        background: black;
        color: #fff;
        background-size: cover;
        background-position: center;
        max-width: 1296px;
        margin: auto;
        position: relative;
    }

    .newinput {
        position: absolute;
        width: 120px;
        bottom: 100px;
        left: 90%;
        transform: translateX(-50%);
    }

    .avatar {
        position: absolute;
        left: 2%;
        bottom: -70px;
        transform: translateX(1%);
    }

    .avatarinput {
        position: absolute;
        width: 120px;
        bottom: 30px;
        left: 90%;
        transform: translateX(-50%);
    }

    .footer {
        margin-top: 100px;
    }

</style>

<body style="background-color:black">
    
    <div class="newcontainer">
        <form asp-action="PhotoCovers" asp-controller="Account" method="post" enctype="multipart/form-data">
            @if (Model.Item2.Count() != 0)
            {
                <p><img style="border-radius:3%" src="@Url.Content(Model.Item2.Last().Path)" height="600" width="1296"></p>
            }
            else
            {
                <p><img style="border-radius:3%" src="" height="600" width="1296"></p>
            }
            
            @if (Model.Item2.Last().UserId==_userManager.GetUserId(User)) 
            { 
            <input class="newinput" style="color:white;border-radius:10px; bottom:70px" type="file" name="uploadedFile" /><br>
                <input class="newinput" for" style="background-color:blue; color:white;border-radius:10px" type="submit" value="upload Avatar" />
            }
            else
            {
                <a asp-controller="Friend" asp-action="AddFriend" asp-route-id="@Model.Item2.Last().UserId" class="avatarinput" style="background-color:blue;color:white;border-radius:10px" type="button">AddFriend</a>
            }
        </form>
    </div>
    <div class="newcontainer">
        <form asp-action="PageUser" asp-controller="Account" method="post" enctype="multipart/form-data">
            @if (Model.Item1.Count() != 0)
            {
                <p><img class="avatar" style="border-radius:50%" src="@Url.Content(Model.Item1.Last().Path)" height="200" width="200"></p>
            }
            else
            {
                <p><img style="border-radius:50%" src="" height="200" width="200"></p>
            }
            @if (Model.Item2.Last().UserId == _userManager.GetUserId(User)) 
            {
                <input class="avatarinput" style="color:white;border-radius:10px;bottom:1px" type="file" name="uploadedFile" /><br>
                <input class="avatarinput" style="background-color:blue; color:white;border-radius:10px" type="submit" value="upload Avatar" />
            }
        </form>
    </div>
</body>
<footer style="background-color:black" class="border-top footer text-muted">
    <div class="nav-scroller bg-white box-shadow">
        <nav style="background-color:black" class="nav nav-underline">
            <a class="nav-link active" href="#">Publication</a>
            <a class="nav-link" asp-action="Friends" asp-controller="Friend">
                Friends
                <span class="badge badge-pill bg-light align-text-bottom">27</span>
            </a>
            <a class="nav-link" style="color:blue" href="#">Information</a>
            <a class="nav-link" style="color:blue" asp-action="ShowAllPhoto" asp-controller="Account">Photo</a>
            <a class="nav-link" style="color:blue" href="#">Video</a>
            <a class="nav-link" style="color:blue" asp-action="PhotoCovers" asp-controller="Account">PhotoCovers</a>
            <a class="nav-link" style="color:blue" href="#">Link</a>
            <a class="nav-link" style="color:blue" href="#">Link</a>
            <a class="nav-link" style="color:blue" href="#">Link</a>
        </nav>
    </div>
</footer>


