@using IProject.Models;
@model Tuple<List<FileModel>,List<UserFriendShip>,List<User>>
@{
    ViewData["Title"] = "AllFriend";
    Layout = "_Layout";
}
<body>
    @* @Html.Partial("~/Views/Account/PageUser.cshtml")*@

</body>
<footer class="border-top footer text-muted">
    <div>
        <h3 style="background-color:black;color:white">All Friends</h3>
        @foreach (var f in Model.Item2)
        {
            <p>
                @*<label>@f.UserFriendId</label>*@
                @foreach (var item in Model.Item1)
                {
                    if (item.UserId==f.UserFriendId)
                    {
                        <img style="width:50px;height:50px;border-radius:50%" src="@Url.Content(Model.Item1.Where(p=>p.UserId == f.UserFriendId ).Last().Path)">
                        break;
                    }
                }
                <label>@Model.Item3.Where(p=>p.Id==f.UserFriendId).Last().Email</label>
            </p>
        }
    </div>
</footer>
