@using IProject.Models;
@*@model Tuple<List<FileModel>,List<PhotoCovers>>;*@
@model Tuple<List<FileModel>,List<PhotoCovers>,List<User>>;
@{
    ViewData["Title"] = "AllPhoto";
    Layout = "_Layout";
}
<body>
    @*@Html.Partial("~/Views/Account/PageUser.cshtml")*@

</body>
<footer class="border-top footer text-muted">
    <div>
        <h3 style="background-color:black;color:white">New Accounts</h3>
        @foreach (var f in Model.Item3)
        {
            <p>
                @if(f.Id == Model.Item1.Last().UserId)
                {
                   <img style="border-radius:50%" src="@Url.Content(Model.Item1.Last().Path)" height="100" width="100">
                }
                <label >@f.Email</label>
                <label>@f.Year</label>
                <a style="color:blue" asp-action="AddFriend" asp-route-id="@f.Id" asp-controller="Friend">AddFriend</a>
            </p>
        }
    </div>
</footer>
