@using IProject.Models;
@*@model Tuple<List<FileModel>,List<PhotoCovers>,List<User>>;*@
@model IProject.ViewModels.AllUsersViewModel
@{
    ViewData["Title"] = "UserPage";
    Layout = "_Layout";
}
<body>
    @Html.Partial("~/Views/Account/PageUser.cshtml")
</body>