@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img src="/img/Скачать-бесплатно-красивые-картинки-фото-девушек-самые-милые-1.jpg" width="140" height="140" style="border-radius:50%" />
                <h2 class="fw-normal">Heading</h2>
                <p>This is a social network where you can make new friends communicate with them check out their stories․write comments and follow the news</p>
                <p><a class="btn btn-secondary" href="#">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="/img/1531235814_seroe-avto-v-sumerkah.jpg" width="140" height="140" style="border-radius:50%" />

                <h2 class="fw-normal">Heading</h2>
                <p>This is a social network where you can buy and sell cars and see auto market news</p>
                <p><a class="btn btn-secondary" href="#">View details »</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="/img/1635936245_2-na-dache-pro-p-foto-prosmotra-filma-doma-foto-2 (1).png" width="140" height="140" style="border-radius:50%" />

                <h2 class="fw-normal">Heading</h2>
                <p>This is a social platform where you can watch new and modern movies and spend pleasant time with your family or loved ones</p>
                <p><a class="btn btn-secondary" href="#">View details »</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Сreate a new account and find new friends. <span class="text-muted">New friends new interests.</span></h2>
                <p class="lead">Add photos and surprise your friends right now!</p>
            </div>
            <div class="col-md-5">
                <img src="/img/5ce334439f43b1cdd7717a6aff935684.jpg" width="500" height="700" />

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
                <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="/img/1531235814_seroe-avto-v-sumerkah.jpg" width="470" height="700" />
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
                <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
            </div>
            <div class="col-md-5">
                <img src="/img/1635936208_19-na-dache-pro-p-foto-prosmotra-filma-doma-foto-19.jpg" width="500" height="700" />
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

